csharp/DictionaryDocument/dictx.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:annotation>
        <xs:documentation>
            dictionary.xsd: Conman's Dictionary database file XML Schema,
            version 1.0.

            Original author: Rose Midford.
            
            Unlike the rest of the project files, this XML Schema definition
            file is dedicated to the Public Domain, or (if not applicable
            under any given jurisdiction) the original author allows
            unlimited modification and distribution of this file for any
            purpose. There is NO WARRANTY whatsoever.
        </xs:documentation>
    </xs:annotation>
    
    <xs:element name="dictionarydatabase">
        <xs:annotation>
            <xs:documentation>The dictionary database.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="notepad" minOccurs="0" maxOccurs="1" type="xs:string" />
                <xs:element name="todoitems" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="todoitem" minOccurs="0" maxOccurs="unbounded" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>                    
                </xs:element>
                <xs:element name="wordclasses" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="class" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="categories" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="category" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="definitions" minOccurs="2" maxOccurs="2">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="entry" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                        <xs:attribute name="language" type="xs:string" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>	
    </xs:element>
    <xs:element name="entry">
        <xs:annotation>
            <xs:documentation>The actual individual dictionary entries.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="term" type="xs:string"/>
                <xs:element name="definition" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="flagged" type="xs:boolean" default="false"/>
            <xs:attribute name="class" type="xs:IDREF" use="optional"/>
            <xs:attribute name="category" type="xs:IDREF" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="class">
        <xs:annotation>
            <xs:documentation>Word classes. Word classes are identified by their primary human-readable name (saved in "name" attribute).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="name" type="xs:ID" use="required"/>
                    <xs:attribute name="abbreviation" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="category">
        <xs:annotation>
            <xs:documentation>Word categories. Categories are identified by their primary human-readable name (saved in "name" attribute).</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                        <xs:attribute name="name" type="xs:ID" use="required"/>
                        <xs:attribute name="flagged" type="xs:boolean" default="false"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>